{% include 'header.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><small> SSL 证书 </small></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">SSL Cert</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container">
            <!-- card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">SSL Cert</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div>
                        {% include 'api-nav-link.html' %}
                        <form id="searchForm">
                            <div class="form-group">搜索</div>
                            <label><input type="search" id="ip" class="form-control form-control" placeholder="IP"></label>
                            <label><input type="search" id="port" class="form-control form-control" placeholder="端口号"></label>
                            <label><input type="search" id="subject_dn" class="form-control form-control" placeholder="主题名称"></label>
                            <label><input type="search" id="issuer_dn" class="form-control form-control" placeholder="签发者名称"></label>
                            <label><input type="search" id="serial_number" class="form-control form-control" placeholder="序列号"></label>
                            <label><input type="search" id="start_time" class="form-control form-control" placeholder="开始时间"></label>
                            <label><input type="search" id="end_time" class="form-control form-control" placeholder="结束时间"></label>
                            <label><input type="search" id="fingerprint_sha256" class="form-control form-control" placeholder="SHA-256"></label>
                            <label><input type="search" id="fingerprint_sha1" class="form-control form-control" placeholder="SHA-1"></label>
                            <label><input type="search" id="fingerprint_md5" class="form-control form-control" placeholder="MD5"></label>
                            <label><input type="search" id="alt_name" class="form-control form-control" placeholder="备用名称"></label>
                            <label>
                                <input type="search" id="task_id" class="form-control form-control" style="display: none;" value="{% if task_id %}{{ task_id }}{% endif %}" placeholder="任务 ID"></label>
                            <br>
                            <label><input type="submit" class="btn btn-default"></label>
                            <br>
                        </form>
                    </div>
                    <br>
                    <table id="data-table" class="table table-bordered table-striped">
                        <thead style="white-space: nowrap; text-align: center;">
                        <tr>
                            <th>IP</th>
                            <th>端口</th>
                            <th>主题 DN</th>
                            <th>主题</th>
                        </tr>
                        </thead>
                        <tbody style="white-space: nowrap; text-align: center;">
                        <!-- Table data will be loaded dynamically using DataTables -->
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
<!-- /.content-wrapper -->

{% include 'footer.html' %}
<script>
    $(document).ready(function () {
        const dataTable = $('#data-table').DataTable({
            processing: true, // 显示加载中提示
            serverSide: true, // 启用服务器端处理
            // 启用水平滚动
            scrollX: true,
            // 启用垂直滚动时缩小表格高度
            scrollCollapse: false,
            searching: false, // 禁用搜索
            ordering: false, // 禁用排序
            // 启用长度更改
            lengthChange: true,
            autoWidth: false,
            pagingType: 'full_numbers', //显示首页尾页

            ajax: {
                url: '/Ajax/GetCert',
                type: 'GET',
                data: function (d) {
                    const taskId = $('#task_id').val();
                    const ip = $('#ip').val();
                    const port = $('#port').val();
                    const subjectDN = $('#subject_dn').val();
                    const issuerDN = $('#issuer_dn').val();
                    const serialNumber = $('#serial_number').val();
                    const startTime = $('#start_time').val();
                    const endTime = $('#end_time').val();
                    const fingerprintSHA256 = $('#fingerprint_sha256').val();
                    const fingerprintSHA1 = $('#fingerprint_sha1').val();
                    const fingerprintMD5 = $('#fingerprint_md5').val();
                    const altName = $('#alt_name').val();
                    // 将搜索框中的值添加到 DataTables 请求参数中
                    d.task_id = taskId;
                    d.ip = ip;
                    d.port = port;
                    d.subject_dn = subjectDN;
                    d.issuer_dn = issuerDN;
                    d.serial_number = serialNumber;
                    d.start_time = startTime;
                    d.end_time = endTime;
                    d.fingerprint_sha256 = fingerprintSHA256;
                    d.fingerprint_sha1 = fingerprintSHA1;
                    d.fingerprint_md5 = fingerprintMD5;
                    d.alt_name = altName;

                    return d;
                },
            },
            columns: [
                // {data: 'ip'},
                {
                    data: 'ip',
                    render: function (data) {
                        let html = '';
                        if (data) {
                            html += '<p><span class="badge badge-dark">' + data + '</span></p>'
                            return html;
                        }
                    }
                },
                // {data: 'port'},
                {
                    data: 'port',
                    render: function (data) {
                        let html = '';
                        if (data) {
                            html += '<p><span class="badge badge-light">' + data + '</span></p>'
                            return html;
                        }
                    }
                },
                // {data: 'cert'},
                {
                    data: 'cert',
                    render: function (data) {
                        let html = '';
                        if (data) {
                            html += '<p><span class="badge badge-dark">' + data['subject_dn'] + '</span></p>'
                            return html;
                        }
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        let html = '';
                        if (Object.keys(row.cert['subject']).length > 0) {
                            let data = row.cert['subject'];
                            html += '<p><span class="badge badge-light">common_name: ' + data['common_name'] + '</span></p>'
                            html += '<p><span class="badge badge-light">country: ' + data['country'] + '</span></p>'
                            html += '<p><span class="badge badge-light">email: ' + data['email'] + '</span></p>'
                            html += '<p><span class="badge badge-light">locality: ' + data['locality'] + '</span></p>'
                            html += '<p><span class="badge badge-light">organizational: ' + data['organizational'] + '</span></p>'
                            html += '<p><span class="badge badge-light">organizational_unit: ' + data['organizational_unit'] + '</span></p>'
                            html += '<p><span class="badge badge-light">province: ' + data['province'] + '</span></p>'

                        } else {
                            html += '<p><span class="badge badge-light"> - </span></p>'
                        }

                        return html;
                    }
                }
                // Add more columns as needed
            ],
            "language": //把文字变为中文
                {
                    "sProcessing": "加载中...",
                    "sLengthMenu": "显示条数： _MENU_ ",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "<<", //首页
                        "sPrevious": "<", //上一页
                        "sNext": ">", //下一页
                        "sLast": ">>" //尾页
                    },
                },
            'aLengthMenu': [20, 50, 100, 500, 1000], //设置每页显示记录的下拉菜单
        });

        // 监听表单提交事件
        $('#searchForm').on('submit', function (event) {
            event.preventDefault(); // 阻止表单默认提交行为
            dataTable.ajax.reload(); // 重新加载 DataTables 数据
        });
    });

</script>

