{% include 'header.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><small>CIDR 统计</small></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Web CIDR</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container">
            <!-- card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Web CIDR</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div>
                        {% include 'api-nav-link.html' %}
                        <form id="searchForm">
                            <div class="form-group">搜索</div>
                            <label><input type="search" id="cidr_ip" class="form-control form-control"
                                          placeholder="C 段"></label>
                            <label><input type="search" id="ip_count" class="form-control form-control"
                                          placeholder="IP 个数"></label>
                            <label><input type="search" id="domain_count" class="form-control form-control"
                                          placeholder="解析到该 C 段域名个数"></label>
                            <label><input type="search" id="task_id" class="form-control form-control"
                                          style="display: none;" value="{% if task_id %}{{ task_id }}{% endif %}"
                                          placeholder="任务ID"></label>
                            <br>
                            <label><input type="submit" class="btn btn-default"></label>
                            <br>
                        </form>
                    </div>
                    <br>
                    <table id="data-table" class="table table-bordered table-striped">
                        <thead style="white-space: nowrap; text-align: center;">
                        <tr>
                            <th>任务ID</th>
                            <th>C 段</th>
                            <th>IP 数量统计</th>
                            <th>IP 列表</th>
                            <th>域名数量统计</th>
                            <th>域名列表</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody style="white-space: nowrap; text-align: center;">
                        <!-- Table data will be loaded dynamically using DataTables -->
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
<!-- /.content-wrapper -->

{% include 'footer.html' %}
<script>
    $(document).ready(function () {
        const dataTable = $('#data-table').DataTable({
            processing: true, // 显示加载中提示
            serverSide: true, // 启用服务器端处理
            // 启用水平滚动
            scrollX: true,
            // 启用垂直滚动时缩小表格高度
            scrollCollapse: false,
            searching: false, // 禁用搜索
            ordering: false, // 禁用排序
            // 启用长度更改
            lengthChange: true,
            autoWidth: false,
            pagingType: 'full_numbers', //显示首页尾页

            ajax: {
                url: '/Ajax/GetCIDR',
                type: 'GET',
                data: function (d) {
                    const taskId = $('#task_id').val();
                    const cidr = $('#cidr_ip').val();
                    const ipCount = $('#ip_count').val();
                    const domainCount = $('#domain_count').val();

                    d.task_id = taskId;
                    d.cidr_ip = cidr;
                    d.ip_count = ipCount;
                    d.domain_count = domainCount;
                    return d;
                },
            },
            columns: [
                // 对应 API 返回的数据字段
                {data: 'task_id', visible: false},
                // {data: 'cidr_ip'},
                {
                    data: 'cidr_ip',
                    render: function (data) {
                        let html = '';
                        if (data) {
                            html += '<p><span class="badge badge-light">' + data + '</span></p>'
                            return html;
                        }
                    }
                },
                // {data: 'ip_count'},
                {
                    data: 'ip_count',
                    render: function (data) {
                        let html = '';
                        if (data) {
                            html += '<p><span class="badge badge-dark">' + data + '</span></p>'
                            return html;
                        }
                    }
                },
                // {data: 'ip_list'},
                {
                    data: null,
                    render: function (data, type, row) {
                        let html = '';
                        // console.log(row.ip_list)
                        if (row.ip_list.length > 0) {
                            let headersArray = row.ip_list;
                            headersArray.forEach(function (ip) {
                                html += '<p><span class="badge badge-light">' + ip + '</span></p>'
                            });
                        } else {
                            html += '<p><span class="badge badge-light"> - </span></p>'
                        }

                        return html;
                    }
                },
                // {data: 'domain_count'},
                {
                    data: 'domain_count',
                    render: function (data) {
                        let html = '';
                        if (data) {
                            html += '<p><span class="badge badge-dark">' + data + '</span></p>'
                            return html;
                        }
                    }
                },
                // {data: 'domain_list'},
                {
                    data: null,
                    render: function (data, type, row) {
                        let html = '';
                        if (row.domain_list.length > 0) {
                            let headersArray = row.domain_list;
                            headersArray.forEach(function (domain) {
                                html += '<p><span class="badge badge-light">' + domain + '</span></p>'
                            });
                        } else {
                            html += '<p><span class="badge badge-light"> - </span></p>'
                        }

                        return html;
                    }
                },
                {
                    // 对应返回数据中的属性，并通过 render 函数自定义显示内容
                    data: null,
                    render: function (data, type, row) {
                        let html = '';
                        html += '<a href="#' + row.task_id + '" class="btn btn-sm btn-danger">删除</a> '
                        return html

                    }, visible: false
                },
                // Add more columns as needed
            ],
            "language": //把文字变为中文
                {
                    "sProcessing": "加载中...",
                    "sLengthMenu": "显示条数： _MENU_ ",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "<<", //首页
                        "sPrevious": "<", //上一页
                        "sNext": ">", //下一页
                        "sLast": ">>" //尾页
                    },
                },
            'aLengthMenu': [20, 50, 100, 500, 1000], //设置每页显示记录的下拉菜单
        });

        // 监听表单提交事件
        $('#searchForm').on('submit', function (event) {
            event.preventDefault(); // 阻止表单默认提交行为
            dataTable.ajax.reload(); // 重新加载 DataTables 数据
        });
    });

</script>

