{% include 'header.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><small> IP 信息 </small></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">IP Information</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container">
            <!-- card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">IP Information</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div>
                        {% include 'api-nav-link.html' %}
                        <form id="searchForm">
                            <div class="form-group">搜索</div>
                            <label><input type="search" id="ip" class="form-control form-control" placeholder="IP"></label>
                            <label><input type="search" id="domain" class="form-control form-control" placeholder="域名"></label>
                            <label><input type="search" id="port" class="form-control form-control" placeholder="端口号"></label>
                            <label><input type="search" id="service_name" class="form-control form-control" placeholder="系统服务名称"></label>
                            <label><input type="search" id="service_version" class="form-control form-control" placeholder="系统服务版本"></label>
                            <label><input type="search" id="service_product" class="form-control form-control" placeholder="产品"></label>
                            <label><input type="search" id="os_name" class="form-control form-control" placeholder="操作系统名称"></label>
                            <label><input type="search" id="ip_type" class="form-control form-control" placeholder="IP 类型（公网和内网）"></label>
                            <label><input type="search" id="cdn_name" class="form-control form-control" placeholder="CDN 厂商名称"></label>
                            <label><input type="search" id="asn_number" class="form-control form-control" placeholder="ASN 名称"></label>
                            <label><input type="search" id="asn_organization" class="form-control form-control" placeholder="ASN 组织"></label>
                            <label>
                                <input type="search" id="task_id" class="form-control form-control" style="display: none;" value="{% if task_id %}{{ task_id }}{% endif %}" placeholder="任务 ID"></label>
                            <br>
                            <label><input type="submit" class="btn btn-default"></label>
                            <br>
                        </form>
                    </div>
                    <br>
                    <table id="data-table" class="table table-bordered table-striped">
                        <thead style="white-space: nowrap; text-align: center;">
                        <tr>
                            <th>IP 地址</th>
                            <th>域名</th>
                            <th>端口信息</th>
                            <th>CDN 厂商</th>
                            <th>IP 类型</th>
                            <th>操作系统</th>
                            <th>ASN 名称</th>
                            <th>ASN 组织</th>
                        </tr>
                        </thead>
                        <tbody style="white-space: nowrap; text-align: center;">
                        <!-- Table data will be loaded dynamically using DataTables -->
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
<!-- /.content-wrapper -->

{% include 'footer.html' %}
<script>
    $(document).ready(function () {
        const dataTable = $('#data-table').DataTable({
            processing: true, // 显示加载中提示
            serverSide: true, // 启用服务器端处理
            // 启用水平滚动
            scrollX: true,
            // 启用垂直滚动时缩小表格高度
            scrollCollapse: false,
            searching: false, // 禁用搜索
            ordering: false, // 禁用排序
            // 启用长度更改
            lengthChange: true,
            autoWidth: false,
            pagingType: 'full_numbers', //显示首页尾页

            ajax: {
                url: '/Ajax/GetIPs',
                type: 'GET',
                data: function (d) {
                    const taskId = $('#task_id').val();
                    const ip = $('#ip').val();
                    const domain = $('#domain').val();
                    const port = $('#port').val();
                    const serviceName = $('#service_name').val();
                    const serviceVersion = $('#service_version').val();
                    const serviceProduct = $('#service_product').val();
                    const osName = $('#os_name').val();
                    const ipType = $('#ip_type').val();
                    const cdnName = $('#cdn_name').val();
                    const asnNumber = $('#asn_number').val();
                    const asnOrganization = $('#asn_organization').val();
                    // 将搜索框中的值添加到 DataTables 请求参数中
                    d.task_id = taskId;
                    d.ip = ip;
                    d.domain = domain;
                    d.port = port;
                    d.service_name = serviceName;
                    d.service_version = serviceVersion;
                    d.service_product = serviceProduct;
                    d.os_name = osName;
                    d.ip_type = ipType;
                    d.cdn_name = cdnName;
                    d.asn_number = asnNumber;
                    d.asn_organization = asnOrganization;

                    return d;
                },
            },
            columns: [
                // {data: 'ip'},
                {
                    data: 'ip',
                    render: function (data) {
                        let html = '';
                        if (data) {
                            html += '<p><span class="badge badge-dark">' + data + '</span></p>'
                            return html;
                        }
                    }
                },
                // {data: 'domain'},
                {
                    data: null,
                    render: function (data, type, row) {
                        let html = '';
                        // console.log(row.domain)
                        if (row.domain) {
                            let headersArray = row.domain;
                            headersArray.forEach(function (domain) {
                                html += '<p><span class="badge badge-light">' + domain + '</span></p>'
                            });
                        } else {
                            html += '<p><span class="badge badge-light"> - </span></p>'
                        }

                        return html;
                    }
                },
                // {data: 'port_info'},
                {
                    data: null,
                    render: function (data, type, row) {
                        let html = '';
                        // console.log(row.port_info)
                        if (row.port_info.length > 0) {
                            let headersArray = row.port_info;
                            headersArray.forEach(function (data) {
                                html += '<p><span class="badge badge-dark">' + data['port_id'] + '</span> <span class="badge badge-dark">' + data['product'] + '</span> <span class="badge badge-dark">' + data['protocol'] + '</span> <span class="badge badge-dark">' + data['service_name'] + '</span> <span class="badge badge-dark">' + data['version'] + '</span></p>'
                            });
                        } else {
                            html += '<p><span class="badge badge-light"> - </span></p>'
                        }

                        return html;
                    }
                },
                // {data: 'cdn_name'},
                {
                    data: 'cdn_name',
                    render: function (data) {
                        let html = '';
                        // console.log(data)
                        if (data && data.length > 0) {
                            html += '<p><span class="badge badge-light">' + data + '</span></p>'
                            return html;
                        } else {
                            html += '<p><span class="badge badge-light"> - </span></p>'
                            return html;
                        }
                    }
                },

                // {data: 'ip_type'},
                {
                    data: 'ip_type',
                    render: function (data) {
                        let html = '';
                        if (data && data.length > 0) {
                            html += '<p><span class="badge badge-light">' + data + '</span></p>'
                            return html;
                        }
                    }
                },
                // {data: 'os_info'},
                {
                    data: null,
                    render: function (data, type, row) {
                        let html = '';
                        // console.log(row.os_info)
                        if (row.os_info.length > 0) {
                            let headersArray = row.os_info;
                            headersArray.forEach(function (data) {
                                html += '<p><span class="badge badge-dark">' + data['port_id'] + '</span></p>'
                            });
                        } else {
                            html += '<p><span class="badge badge-dark"> - </span></p>'
                        }

                        return html;
                    }
                },
                // {data: 'geo_asn'},
                {
                    data: null,
                    render: function (data, type, row) {
                        let html = '';
                        // console.log(row.geo_asn)
                        // console.log(Object.keys(row.geo_asn).length)
                        if (Object.keys(row.geo_asn).length > 0) {
                            html += '<p><span class="badge badge-dark">' + row.geo_asn['number'] + '</span></p>'
                            html += '<p><span class="badge badge-dark">' + row.geo_asn['organization'] + '</span></p>'
                        } else {
                            html += '<p><span class="badge badge-dark"> - </span></p>'
                        }

                        return html;
                    }
                },
                // {data: 'geo_city'},
                {
                    data: null,
                    render: function (data, type, row) {
                        let html = '';
                        console.log(row.geo_city)
                        console.log(Object.keys(row.geo_city).length)
                        if (Object.keys(row.geo_city).length > 0) {
                            html += '<p><span class="badge badge-light">' + row.geo_city['city'] + '</span></p>'
                            html += '<p><span class="badge badge-light">' + row.geo_city['country_code'] + '</span></p>'
                            html += '<p><span class="badge badge-light">' + row.geo_city['country_name'] + '</span></p>'
                            html += '<p><span class="badge badge-light">' + row.geo_city['latitude'] + '</span></p>'
                            html += '<p><span class="badge badge-light">' + row.geo_city['longitude'] + '</span></p>'
                            html += '<p><span class="badge badge-light">' + row.geo_city['region_name'] + '</span></p>'
                        } else {
                            html += '<p><span class="badge badge-dark"> - </span></p>'
                        }

                        return html;
                    }
                }
            ],
            "language": //把文字变为中文
                {
                    "sProcessing": "加载中...",
                    "sLengthMenu": "显示条数： _MENU_ ",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "<<", //首页
                        "sPrevious": "<", //上一页
                        "sNext": ">", //下一页
                        "sLast": ">>" //尾页
                    },
                },
            'aLengthMenu': [20, 50, 100, 500, 1000], //设置每页显示记录的下拉菜单
        });

        // 监听表单提交事件
        $('#searchForm').on('submit', function (event) {
            event.preventDefault(); // 阻止表单默认提交行为
            dataTable.ajax.reload(); // 重新加载 DataTables 数据
        });
    });

</script>

