{% include 'header.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><small> 站点信息 </small></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Sites</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container">
            <!-- card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Web Sites</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div>
                        {% include 'api-nav-link.html' %}
                        <form id="searchForm">
                            <div class="form-group">搜索</div>
                            <label><input type="search" id="site" class="form-control form-control" placeholder="站点"></label>
                            <label><input type="search" id="hostname" class="form-control form-control"
                                          placeholder="主机名"></label>
                            <label><input type="search" id="ip" class="form-control form-control" placeholder="IP 地址"></label>
                            <label><input type="search" id="title" class="form-control form-control"
                                          placeholder="Web 标题"></label>
                            <label><input type="search" id="http_server" class="form-control form-control"
                                          placeholder="Web Servers"></label>
                            <label><input type="search" id="headers" class="form-control form-control"
                                          placeholder="Headers"></label>
                            <label><input type="search" id="finger_name" class="form-control form-control"
                                          placeholder="指纹"></label>
                            <label><input type="search" id="status_code" class="form-control form-control"
                                          placeholder="状态码"></label>
                            <label><input type="search" id="favicon_hash" class="form-control form-control"
                                          placeholder="Favicon Hash"></label>
                            <label><input type="search" id="site_tag" class="form-control form-control"
                                          placeholder="标签"></label>
                            <label><input type="search" id="task_id" class="form-control form-control"
                                          style="display: none;" value="{% if task_id %}{{ task_id }}{% endif %}"
                                          placeholder="任务ID"></label>
                            <br>
                            <label><input type="submit" class="btn btn-default"></label>
                            <br>
                        </form>
                    </div>
                    <br>
                    <table id="data-table" class="table table-bordered table-striped">
                        <thead style="white-space: nowrap; text-align: center;">
                        <tr>
                            <th>任务ID</th>
                            <th>图标</th>
                            <th>站点</th>
                            <th>域名</th>
                            <th>Title</th>
                            <th>tag</th>
                            <th>状态码</th>
                            <th>Headers</th>
                            <th>指纹</th>
                            <th>Length</th>
                            <th>Server</th>
                            <th>fld</th>
                            <th>Screenshot</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody style="white-space: nowrap; text-align: center;">
                        <!-- Table data will be loaded dynamically using DataTables -->
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
<!-- /.content-wrapper -->

{% include 'footer.html' %}
<script>
    $(document).ready(function () {
        const dataTable = $('#data-table').DataTable({
            processing: true, // 显示加载中提示
            serverSide: true, // 启用服务器端处理
            // 启用水平滚动
            scrollX: true,
            // 启用垂直滚动时缩小表格高度
            scrollCollapse: false,
            searching: false, // 禁用搜索
            ordering: false, // 禁用排序
            // 启用长度更改
            lengthChange: true,
            autoWidth: false,
            pagingType: 'full_numbers', //显示首页尾页

            ajax: {
                url: '/Ajax/GetSites',
                type: 'GET',
                data: function (d) {
                    const taskId = $('#task_id').val();
                    const Site = $('#site').val();
                    const HostName = $('#hostname').val();
                    const IP = $('#ip').val();
                    const WebTitle = $('#title').val();
                    const HttpServer = $('#http_server').val();
                    const Headers = $('#headers').val();
                    const FingerName = $('#finger_name').val();
                    const StatusCode = $('#status_code').val();
                    const FaviconHash = $('#favicon_hash').val();
                    const SiteTag = $('#site_tag').val();
                    // 将搜索框中的值添加到 DataTables 请求参数中
                    d.task_id = taskId;
                    d.site = Site;
                    d.hostname = HostName;
                    d.ip = IP;
                    d.title = WebTitle;
                    d.http_server = HttpServer;
                    d.headers = Headers;
                    d.finger_name = FingerName;
                    d.status_code = StatusCode;
                    d.favicon_hash = FaviconHash;
                    d.site_tag = SiteTag;

                    return d;
                },
            },
            columns: [
                // 对应 API 返回的数据字段
                {data: 'task_id', visible: false},
                // {data: 'favicon'},
                {
                    data: 'favicon',
                    render: function (data) {
                        let html = '';
                        if (data['data']) {
                            let FaviconBase64 = data['data'];
                            let FaviconHash = data['hash'];
                            html += '<img src="data:image/x-icon;base64,' + FaviconBase64 + '" alt="Favicon" style="width: 20px; height: 20px; "/>'
                            html += '<p><span class="badge badge-light">' + FaviconHash + '</span></p>'
                        } else {
                            html += '<p><span class="badge badge-light"> - </span></p>'
                        }
                        return html;
                    }
                },
                // {data: 'ip'},
                {
                    // 对应返回数据中的属性，并通过 render 函数自定义显示内容
                    data: null,
                    render: function (data, type, row) {
                        let html = '';
                        html += '<a href="' + row.site + '" target="_blank">' + row.hostname + '</a>';
                        html += '<p><span class="badge badge-light">' + row.ip + '</span></p>';
                        return html
                    }
                },
                {data: 'hostname', visible: false},
                // {data: 'title'},
                {
                    data: 'title',
                    render: function (data) {
                        let html = '';
                        if (data) {
                            if (data.length > 40){
                                html += '<p>' + data.slice(0, 35) + '...</p>'
                            } else {
                                html += '<p>' + data + '</p>'
                            }

                        } else {
                            html += '<p> - </p>';
                        }
                        return html;
                    }
                },
                // {data: 'tag'},
                {
                    data: 'tag',
                    render: function (data) {
                        let html = '';
                        if (data[0] === '后台页面') {
                            html += '<p><span class="badge badge-success">' + data + '</span></p>'
                        } else if (data[0] === '入口站点') {
                            html += '<p><span class="badge badge-dark">' + data + '</span></p>';
                        } else {
                            html += '<p><span class="badge badge-secondary">' + data + '</span></p>';
                        }
                        return html;
                    }
                },
                {data: 'status'},
                {
                    data: null,
                    render: function (data, type, row) {
                        let headersArray = row.headers.split('\n');

                        let html = '';
                        headersArray.forEach(function (header) {
                            html += '<div>' + header + '</div>';
                        });

                        return html;
                    }, visible: false
                },
                {
                    data: 'finger',
                    render: function (data, type, row) {
                        let html = '';
                        if (data && data.length > 0) {
                            html += ''
                            data.forEach(function (item) {
                                html += '<p><span class="badge badge-light">' + item.name + '</span></p>'
                            });
                        }
                        return html;
                    }
                },
                {data: 'body_length'},
                // {data: 'http_server'},
                {
                    data: 'http_server',
                    render: function (data) {
                        let html = '';
                        if (data) {
                            html += '<p><span class="badge badge-light">' + data + '</span></p>'
                        } else {
                            html += '<p><span class="badge badge-light">-</span></p>';
                        }
                        return html;
                    }
                },
                {data: 'fld', visible: false},
                {data: 'screenshot', visible: false},
                {
                    // 对应返回数据中的属性，并通过 render 函数自定义显示内容
                    data: null,
                    render: function (data, type, row) {
                        let html = '';
                        html += '<a href="#' + row.task_id + '" class="btn btn-sm btn-default">删除</a> '
                        return html

                    }, visible: false
                },
                // Add more columns as needed
            ],
            "language": //把文字变为中文
                {
                    "sProcessing": "加载中...",
                    "sLengthMenu": "显示条数： _MENU_ ",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "<<", //首页
                        "sPrevious": "<", //上一页
                        "sNext": ">", //下一页
                        "sLast": ">>" //尾页
                    },
                },
            'aLengthMenu': [20, 50, 100, 500, 1000], //设置每页显示记录的下拉菜单
        });

        // 监听表单提交事件
        $('#searchForm').on('submit', function (event) {
            event.preventDefault(); // 阻止表单默认提交行为
            dataTable.ajax.reload(); // 重新加载 DataTables 数据
        });
    });

</script>

