{% if task_id %}

<a class="btn btn-default" href="/Domain/{{ task_id }}">域名信息</a>
<a class="btn btn-default" href="/Sites/{{ task_id }}">Web 站点</a>
<a class="btn btn-default" href="/IPs/{{ task_id }}">IP Information</a>
<a class="btn btn-default" href="/Service/{{ task_id }}">服务信息</a>
<a class="btn btn-default" href="/Cert/{{ task_id }}">SSL 证书</a>
<a class="btn btn-default" href="/FileLeak/{{ task_id }}">文件泄露</a>
<a class="btn btn-default" href="/CIDR/{{ task_id }}">C 段</a>
<a class="btn btn-default" href="/Download/Domain/{{ task_id }}">导出域名</a>
<a class="btn btn-default" href="/Download/Site/{{ task_id }}">导出站点</a>
<a class="btn btn-default" href="/Download/FileLeak/{{ task_id }}">导出文件泄露</a>

{% else %}

<a class="btn btn-default" href="/Domain">域名信息</a>
<a class="btn btn-default" href="/Sites">Web 站点</a>
<a class="btn btn-default" href="/IPs">IP Information</a>
<a class="btn btn-default" href="/Service">服务信息</a>
<a class="btn btn-default" href="/Cert">SSL 证书</a>
<a class="btn btn-default" href="/FileLeak">文件泄露</a>
<a class="btn btn-default" href="/CIDR">C 段</a>
<a class="btn btn-default" href="/Download/Domain/ALL">导出域名</a>
<a class="btn btn-default" href="/Download/Site/ALL">导出站点</a>
<a class="btn btn-default" href="/Download/FileLeak/ALL">导出文件泄露</a>

{% endif %}

<br><br>