<!-- begin::Head -->
<head>
    <meta charset="utf-8"/>
    <title>Error Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<!-- end::Head -->

<!-- begin::Body -->
<body class="kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v6">
        <div class="kt-error_container">
            <div class="kt-error_subtitle kt-font-light">
                <h1>Oops...</h1>
            </div>
            <p class="kt-error_description kt-font-light">
                Looks like something went wrong.
                <br> We're working on it
            </p>
        </div>
    </div>
</div>
</body>
<!-- end::Body -->
