{% include 'header.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><small> Nuclei 扫描 </small></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <a href="/BatchTask" class="btn btn-default">Nuclei 批量扫描</a>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <form action="/NewTask" method="POST">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>* 项目名称</label>
                                            <input type="text" class="form-control" name="project_name" value=""
                                                   placeholder="请输入项目名称">
                                        </div>
                                        <div class="form-group">
                                            <label>项目描述</label>
                                            <textarea class="form-control" rows="2" name="project_description"
                                                      placeholder="请输入项目描述"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>* Nuclei Yaml 模版</label>
                                            <p><span class="text-muted">参考https://github.com/projectdiscovery/nuclei-templates/tree/main/http仓库下的模版路径（仅支持http类型）</span></p>
                                            <input type="text" class="form-control" name="nuclei_template_yaml"
                                                   value="nuclei-templates/http"
                                                   placeholder="请输入指定要运行的模板或者模板目录（以逗号分隔或目录形式）">
                                        </div>
                                        <div class="form-group">
                                            <label>Nuclei Yaml 模版标签过滤 -tags（可选项）</label>
                                            <input type="text" class="form-control" name="nuclei_template_tags" value=""
                                                   placeholder="执行带指定tag的模板（以逗号分隔多个标签）">
                                        </div>
                                        <div class="form-group">
                                            <label>Nuclei 代理 -proxy（可选项）</label>
                                            <input type="text" class="form-control" name="nuclei_proxy" value=""
                                                   placeholder="使用 http/socks5 代理列表（以逗号分隔多个代理）">
                                        </div>
                                        <div class="form-group">
                                            <label>* Nuclei Yaml 根据漏洞严重程度运行模板 -severity</label>
                                            <p><span class="text-muted">如果选择了指定单独YAML模版漏洞安全等级默认全选即可，如果指定的漏洞模版目录建议只选择致命漏洞和高危漏洞</span></p>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="severity_critical" checked
                                                           value="critical">
                                                    致命载荷
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="severity_high" checked value="high">
                                                    高危载荷
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="severity_medium" checked
                                                           value="medium">
                                                    中危载荷
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="severity_low" value="low">
                                                    低危载荷
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="severity_info" value="info">
                                                    指纹信息（无危害载荷）
                                                </label>
                                            </div>
                                        </div>
                                        <!-- 更多选项... -->
                                    </div>
                                    <div class="form-group">
                                        <label>* 站点列表</label>
                                        <textarea class="form-control" rows="15" name="sites" value=""
                                                  placeholder="请输入目标资产支持换行输入多个域名（域名支持带协议头形式）"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <input type="submit" value="提交扫描任务" class="btn btn-default float-right">
                                </div>
                                </br></br>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            <!-- /.row -->
    </div><!-- /.container-fluid -->
    <!-- /.content -->
    </form>
</div>
</div>
<!-- /.content-wrapper -->

{% include 'footer.html' %}