{% include 'header.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><small> 弱口令服务扫描 </small></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <a href="/BatchZombieTask" class="btn btn-default">弱口令服务批量扫描</a>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <form action="/NewZombieTask" method="POST">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>* 项目名称</label>
                                            <input type="text" class="form-control" name="project_name" value=""
                                                   placeholder="请输入项目名称">
                                        </div>
                                        <div class="form-group">
                                            <label>项目描述</label>
                                            <textarea class="form-control" rows="2" name="project_description"
                                                      placeholder="请输入项目描述"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleSelect2">爆破服务</label>
                                            <select class="form-control" id="exampleSelect2" name="service_name">
                                                <option value="ssh">SSH</option>
                                                <option value="smb">SMB</option>
                                                <option value="http">HTTP</option>
                                                <option value="tomcat">Tomcat</option>
                                                <option value="kibana">Kibana</option>
                                                <option value="mysql">MySQL</option>
                                                <option value="mssql">MSSQL</option>
                                                <option value="oracle">Oracle (WARNNING 未经过充分测试)</option>
                                                <option value="mongo">Mongo</option>
                                                <option value="postgre">Postgre</option>
                                                <option value="redis">Redis</option>
                                                <option value="ftp">FTP</option>
                                                <option value="smtp">SMTP</option>
                                                <option value="pop3">POP3</option>
                                                <option value="ldap">LDAP</option>
                                                <option value="vnc">VNC</option>
                                                <option value="rdp">RDP</option>
                                                <option value="telnet">Telnet (WARNNING 未经过充分测试) (WARNNING 不支持全部版本)
                                                </option>
                                            </select>
                                            <span class="form-text text-muted">选择爆破服务</span>
                                        </div>
                                        <div class="form-group">
                                            <label>用户名字典</label>
                                            <textarea class="form-control" rows="5" name="user_dict" value=""
                                                      placeholder="请输入爆破服务的用户名（换行分隔），不填写则使用服务默认用户名"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>* 密码字典</label>
                                            <textarea class="form-control" rows="5" name="pass_dict" value=""
                                                      placeholder="请输入爆破服务的密码（换行分隔），不填写则使用内置默认密码"></textarea>
                                        </div>
                                        <!-- 更多选项... -->
                                    </div>
                                    <div class="form-group">
                                        <label>* IP 列表</label>
                                        <textarea class="form-control" rows="15" name="ips_list" value=""
                                                  placeholder="请输入 IP 目标资产支持换行（支持 hydra 目标解析输入 8.8.8.1:3306 / 8.8.8.1）"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <input type="submit" value="提交" class="btn btn-default float-right">
                                </div>
                                </br></br>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            <!-- /.row -->
    </div><!-- /.container-fluid -->
    <!-- /.content -->
    </form>
</div>
</div>
<!-- /.content-wrapper -->

{% include 'footer.html' %}