{% include 'header.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><small> 弱口令爆破 </small></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Weak Password Service</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container">
            <!-- card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Boom Ret</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <a href="/CheckZombieQueue/{{ project_id }}" class="btn btn-default">检查队列</a>
                    <a href="/Download/ZombieRet/{{ project_id }}" class="btn btn-default">导出结果</a>
                    {% if project_id != 'ALL' %}
                    <a href="/DelZombieQueue/{{ project_id }}" class="btn btn-primary">清空队列(仅该项目)</a>
                    <a href="/DelZombieProject/{{ project_id }}" class="btn btn-danger">删除项目(会清空数据)</a>
                    {% endif %}
                    {% if project_id == 'ALL' %}
                    <a href="/ClearZombieIPs" class="btn btn-primary">清空队列(所有项目)</a>
                    {% endif %}
                    <br><br>
                    <table id="data-table" class="table table-bordered table-striped">
                        <thead style="white-space: nowrap; text-align: center;">
                        <tr>
                            <th data-name="ip">IP地址</th>
                            <th data-name="port">端口</th>
                            <th data-name="service">服务</th>
                            <th data-name="username">账户</th>
                            <th data-name="password">密码</th>
                            <th data-name="date">时间</th>
                        </tr>
                        </thead>
                        <tbody style="white-space: nowrap; text-align: center;">
                        <!-- Table data will be loaded dynamically using DataTables -->
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
<!-- /.content-wrapper -->

{% include 'footer.html' %}
<script>
    $(document).ready(function () {
        const dataTable = $('#data-table').DataTable({
            serverSide: true,
            scrollX: true,
            searching: false, // 禁用搜索
            ordering: false, // 禁用排序
            lengthChange: true,
            autoWidth: false,
            ajax: {
                url: '/Ajax/ZombieRet/{{ project_id }}',
                type: 'GET',
                dataSrc: function (json) {
                    return json.data.map(function (row) {
                        return row;
                    });
                }
            },
            columns: [
                // {data: 'ip'},
                {
                    data: 'ip',
                    render: function (data) {
                        let html = '';
                        if (data && data.length > 0) {
                            html += '<p><span class="badge badge-dark">' + data + '</span></p>'
                            return html;
                        }
                    }
                },
                // {data: 'port'},
                {
                    data: 'port',
                    render: function (data) {
                        let html = '';
                        if (data && data.length > 0) {
                            html += '<p><span class="badge badge-light">' + data + '</span></p>'
                            return html;
                        }
                    }
                },
                // {data: 'service'},
                {
                    data: 'service',
                    render: function (data) {
                        let html = '';
                        if (data && data.length > 0) {
                            html += '<p><span class="badge badge-dark">' + data + '</span></p>'
                            return html;
                        }
                    }
                },
                // {data: 'username'},
                {
                    data: 'username',
                    render: function (data) {
                        let html = '';
                        if (data && data.length > 0) {
                            html += '<p><span class="badge badge-light">' + data + '</span></p>'
                            return html;
                        }
                    }
                },
                // {data: 'password'},
                {
                    data: 'password',
                    render: function (data) {
                        let html = '';
                        if (data && data.length > 0) {
                            html += '<p><span class="badge badge-dark">' + data + '</span></p>'
                            return html;
                        }
                    }
                },
                // {data: 'date'},
                {
                    data: 'date',
                    render: function (data) {
                        let html = '';
                        if (data && data.length > 0) {
                            html += '<p><span class="badge badge-light">' + data + '</span></p>'
                            return html;
                        }
                    }
                }
            ],
            "language": //把文字变为中文
                {
                    "sProcessing": "加载中...",
                    "sLengthMenu": "显示条数： _MENU_ ",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "<<", //首页
                        "sPrevious": "<", //上一页
                        "sNext": ">", //下一页
                        "sLast": ">>" //尾页
                    },
                },
            'aLengthMenu': [20, 50, 100, 500, 1000], //设置每页显示记录的下拉菜单
        });
    });
</script>
